.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    .logo {
      width: 300px;
      margin-bottom: 36px;
    }
  }
  .scanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .ngx-scanner-qrcode {
      display: none;
      margin: 16px;
      margin-bottom: 36px;
    }
  }
  .footer {
    padding-bottom: 16px;
    text-align: center;
    span {
      a {
        color: #4D8AC0;
      }
    }
  }
  .button {
    --b: 3px;
    --s: 0.45em;
    cursor: pointer;
    --color: #373b44;
    padding: calc(0.7em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(
        from 90deg at var(--b) var(--b),
        #0000 90deg,
        var(--color) 0
      )
      var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
      calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    &:hover,
    &:focus-visible {
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: 0.05em;
    }

    &:active {
      background: var(--color);
      color: #fff;
    }
  }
}
