<div class="body">
  <div class="main" *ngIf="!action.isLoading && !showCamera">
    <img class="logo" src="../assets/logo.png" />
    <button class="button" (click)="openCamera()">Escanear</button>
  </div>

  <!-- <p *ngIf="action.isLoading">Carregando</p> -->

  <div class="scanner">
    <ngx-scanner-qrcode
      #action="scanner"
      (event)="readQR($event, action)"
      [config]="config"
    ></ngx-scanner-qrcode>

    <button class="button" *ngIf="showCamera" (click)="openCamera()">Escanear Outra Nota</button>
  </div>

  <div class="footer">
    <span>© Feito por <a href="">Robson</a> e <a href="">Luiz Gustavo</a> ● 2023</span>
    <br>
    <span>Este projeto não tem relação alguma com o governo, mas bem que poderia, rs.</span>
  </div>
</div>
